apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  creationTimestamp: null
  name: immiches.media.rm3l.org
spec:
  group: media.rm3l.org
  names:
    kind: Immich
    listKind: ImmichList
    plural: immiches
    singular: immich
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Immich is the Schema for the immiches API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: ImmichSpec defines the desired state of Immich
            properties:
              application:
                description: Application settings
                properties:
                  concurrency:
                    description: Job concurrency settings
                    properties:
                      faceDetection:
                        default: 2
                        description: Face detection concurrency
                        format: int32
                        type: integer
                      library:
                        default: 5
                        description: Library concurrency
                        format: int32
                        type: integer
                      metadataExtraction:
                        default: 5
                        description: Metadata extraction concurrency
                        format: int32
                        type: integer
                      migration:
                        default: 5
                        description: Migration concurrency
                        format: int32
                        type: integer
                      sidecar:
                        default: 5
                        description: Sidecar metadata concurrency
                        format: int32
                        type: integer
                      smartSearch:
                        default: 2
                        description: Smart search concurrency
                        format: int32
                        type: integer
                      thumbnail:
                        default: 5
                        description: Thumbnail generation concurrency
                        format: int32
                        type: integer
                      videoConversion:
                        default: 1
                        description: Video transcoding concurrency
                        format: int32
                        type: integer
                    type: object
                  databaseBackup:
                    description: Database Backup settings.
                    properties:
                      amount:
                        default: 14
                        description: Amount of previous backups to keep
                        format: int32
                        type: integer
                      cron:
                        default: 0 02 * * *
                        description: Scanning interval using the CRON format. For
                          more information, please refer to e.g. https://crontab.guru/
                        type: string
                      enabled:
                        default: true
                        description: Enable database backups.
                        type: boolean
                    type: object
                type: object
            type: object
          status:
            description: ImmichStatus defines the observed state of Immich
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
