---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - media.rm3l.org
  resources:
  - immiches
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - media.rm3l.org
  resources:
  - immiches/finalizers
  verbs:
  - update
- apiGroups:
  - media.rm3l.org
  resources:
  - immiches/status
  verbs:
  - get
  - patch
  - update
